
<div class="container">
    <div class="row container">
        <div class="col-4-md">
            <img src="https://img.icons8.com/office/40/000000/5-star-hotel.png" />
        </div>
        <div class="col-6-md">
            <h3>Book Your Favourite Hotle</h3>
        </div>
    </div>

</div>


<div style="margin-bottom:10px">
    <nav class="navbar navbar-light bg-light">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Filter:</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" [(ngModel)]="hotelService.searchFilter" aria-describedby="inputGroup-sizing-default">
        </div>
    </nav>
</div>


<div class="row">
    
    <div *ngFor="let h of hotelService.filteredHotels">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row  p-3 g-0">
                <div class="col-md-4">
                    <img src="/img/{{h.img}}" class="img-fluid rounded" alt="{{h.name}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="d-inline-block">
                            <h5 class="card-title text-primary font-weight-bold">{{h.name}} </h5>
                            <div>
                                <pm-star [rating]='h.stars' style="font-size: 11px"></pm-star>
                            </div>
                        </div>  
                        <p class="card-text" style="font-size: 12px">{{h.description}}</p>
                        <p class="card-text"><small class="text-danger">{{h.price | currency }}</small></p>
                        <button type="submit" id="buyButton" class="btn btn-primary btn-sm" (click)="hotelService.addBookedHotel(h)">Book</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
