
<div class="container">
    <div class="row container">
        <div class="col-4-md">
            <img src="https://img.icons8.com/office/40/000000/5-star-hotel.png" />
        </div>
        <div class="col-6-md">
            <h3>Book Your Favourite Hotle</h3>
        </div>
    </div>

</div>
<!--
<mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Filter</mat-label>
    <input matInput type="text" [(ngModel)]="hotelService.searchFilter">
    <button *ngIf="hotelService.searchFilter" matSuffix mat-icon-button aria-label="Clear" (click)="hotelService.searchFilter=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

-->


<div style="margin-bottom:10px">
    <nav class="navbar navbar-light bg-light">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Filter:</span>
            </div>
            <input type="text" class="form-control" aria-label="Default" [(ngModel)]="hotelService.searchFilter" aria-describedby="inputGroup-sizing-default">
        </div>
    </nav>
</div>


<div class="row" style="height: 650px ">
    <div *ngFor="let h of hotelService.filteredHotels" class="col-6" style="height: 600px;">
        <div class="border bg-light rounded p-1" style="height: 580px; margin-bottom:10px ">
            <img src="/img/{{h.img}}" class="img-fluid hotel-img" style="height: 250px; width:380px" alt="{{h.name}}" />
            <h4>{{h.name}}</h4>
            <pm-star [rating]='h.stars'></pm-star>
            <p style="font-weight: bold">{{h.city}}</p>
            <ul class="products-props">
                <li>{{h.description}}</li>
                <li>Price: {{h.price | currency }}</li>
            </ul>
            <button type="submit" id="buyButton" class="btn btn-success" (click)="hotelService.addBookedHotel(h)">Book Now!</button>
        </div>
    </div>
</div>
