<div class=" text-white font-weight-bold">
    <nav class="navbar navbar-expand-lg  py-3  navbar-dark" style="background-color: #1A237E">
        <div class="container">
            <a href="#" class="navbar-brand font-weight-bold">Booking.com</a>

            <button class="navbar-toggler"
                    type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item border border-dark rounded-pill " routerLink="/">
                        <a href="" class="nav-link">Hotels</a>
                    </li>
                    <li class="nav-item border border-dark rounded-pill" routerLink="checkout">
                        <a href="#" class="nav-link">Cart</a>
                    </li>
                    <li class="nav-item border border-dark rounded-pill">
                        <a href="#" class="nav-link">Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>



<div class="row startBody">
    <div class="col-12">

        <router-outlet></router-outlet>
    </div>
</div>





