
@model IEnumerable<Hotel>
@{
 ViewBag.Title = "Booked";
}
<h3>search</h3>

<div class="container">
    <div class="row" style="height: 650px; margin-bottom:10px ">

    @foreach (var p in Model )
    {
    <div class="col-md-6" style="height: 650px; margin-bottom:10px ">
        <div class=" border bg-light rounded p-1">
            <img src="~/img/@(p.Img)" class="img-fluid w-100 p-3" style="height: 350px " alt="@p.Title" />
            <ul class="product-props">
                <li class="font-weight-bold">@p.Title - @p.City </li>
                
                <li>Description: @p.Description</li>
                <li>Price: $@p.Price</li>
            </ul>
            <form asp-action="Booked" method="get">
                <div class="form-group">
                    <button type="submit" name="Book" value="Book" class="btn btn-success">Book Now!</button>
                </div>
            </form>
            
        </div>
    </div>
    }
    </div>
</div>